body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

.title {
  margin-top: 20px;
  font-size: 28px;
}

.gallery {
  margin: 30px auto;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 25px;
  right: 35px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  }
